.sidebar
  .sidebar__user
    %h3.sidebar__user--nemu
      = current_user.name
      .sidebar__user--icon
        %i.fa.fa-edit
          = link_to new_group_path do
            = fa_icon 'pencil-square-o', class: 'icon'
        %i.fa.fa-cog
          = link_to edit_user_path(current_user) do
            = fa_icon 'cog', class: 'icon'
    .sidebar__contents
      - current_user.groups.each do |group|
        = link_to group_messages_path(group) do
          .sidebar__contents--groups
            = group.name
          .sidebar__contents--messege
            メッセージはまだありません。
.main
  .main__chatgroup
    .main__chatgroup--contents
      .main__chatgroup--theme #{current_user.groups.name}
      .main__chatgroup--text MEMBER: #{current_user.name}


    %input.main__chatgroup--edit-btn{href: "#", type: "submit", value: "Edit"}/

  .messages
    = render @messages

  .form
    = form_for [@group, @message], class: 'new_message' do |f|
      = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      .form__mask
        = f.label :image, class: 'form__mask__image' do
          = fa_icon 'picture-o', class: 'icon'
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'

  / .main__chat-form
  /   = form_for [@group, @message] do |f|
  /     = f.text_field :content, class: '.main__chat-form--input', placeholder: 'type a message'
  /     .main__chat-form--input
  /       = f.label :image, class: 'form__mask__image' do
  /         = fa_icon 'picture-o', class: 'icon'
  /         = f.file_field :image, class: 'hidden'
  /       = f.submit 'Send', class: '.main__chat-form--btn'



